name: CI/CD - Docker Hub & FTP
on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      # 1. Récupération du code
      - name: Checkout repository
        uses: actions/checkout@v3

      # 2. Configuration de l'environnement Docker (Buildx)
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      # 3. Connexion à Docker Hub
      # Le pipeline se connecte grâce à mes secrets
      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      # 4. Build et PUSH vers Docker Hub

      - name: Build and Push Docker Image
        uses: docker/build-push-action@v4
        with:
          context: .
          push: true
          tags: gedfirst/mon-site-web:latest

      # 5. Déploiement FTP (On garde ça pour InfinityFree)
      - name: Deploy via FTP
        uses: SamKirkland/FTP-Deploy-Action@v4.0.0
        with:
          server: ${{ secrets.FTP_SERVER }}
          username: ${{ secrets.FTP_USERNAME }}
          password: ${{ secrets.FTP_PASSWORD }}
          local-dir: ./
          server-dir: /htdocs/
          dry-run: false
